/.fleet/
/.idea/
/.phpunit.cache/
/.phpunit.result.cache/
/.vscode/
/.zed/
/node_modules/
/public/build/
/vendor/

/public/hot
/public/storage
/storage/*.key
/storage/pail

/_ide_helper_models.php
/_ide_helper.php
/.env
/.env.backup
/.env.production
/.phpactor.json
/auth.json
/composer.lock
/Homestead.json
/Homestead.yaml
/npm-debug.log
/pnpm-lock.yaml
/yarn-error.log
